:root {
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-shadow-3px: 3px 3px 2px #111111;
  --tile-gradient-50: linear-gradient(90deg, rgba(33, 33, 33, 100) 50%, rgba(33, 33, 33, 0.6) 100%);
  --tile-gradient-66-opaque: linear-gradient(
    90deg,
    rgba(21, 21, 21, 0.9) 66%,
    rgba(33, 33, 33, 1) 100%
  );
  --tile-gradient-33: linear-gradient(90deg, rgba(33, 33, 33, 0.95) 33%, rgba(12, 12, 12, 0) 100%);
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}
